;; shadow-cljs configuration
{:source-paths
 ["src/main"
  "src/scrutinize"]

 :dependencies
 [[reagent "1.0.0-alpha2"]
  [bidi "2.1.6"]
  [cider/cider-nrepl "0.25.3"]
  [cljs-http "0.1.46"]
  [tick "0.4.26-alpha"]]

 :dev-http {8081 "public"}
 
 :nrepl {:port 8082}

 :builds
 {:frontend
  {:target :browser
   ;; :module-hash-names true
   ;; :build-options {:manifest-name "manifest.edn"}
   :modules {:main {:init-fn app/init}}}
  :test
  {:target :browser-test
   :test-dir "resources/public/js/test"
   :devtools {:http-port 8021
              :http-root "resources/public/js/test"}}
  :ci
  {:target :karma
   :output-to  "target/ci.js"}}}

