html, body {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

h1, h2, h3, .title {
  font-family: Inter, sans-serif;
  font-weight: 600;
}

p {
  font-family: Inter, sans-serif;
  font-weight: 300;
}

-webkit-input-placeholder {
  font-family: Inter, sans-serif;
}

button, a, input, .block {
  font-family: Inter, sans-serif;
}

a {
  color: rgba(53, 194, 225, 1);
}

.website-list-item {
  border: 1px solid rgba(0,0,0,0);
}

.website-list-item:hover {
  border: 1px solid rgba(0,0,0,0.1);
}

.iw-box {
  padding: 15px;
  border-radius: 3px;
  background-color: rgba(246, 246, 246, 1);
  color: rgba(28, 28, 28, 1);
}

.iw-title {
  font-size: 36px;
  font-weight: 300;
  color: rgba(28, 28, 28, 1);
}

.iw-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
  margin-left: 0px;
}

.iw-list-item-title {
  font-weight: 500;
  font-size: 18px;
  width: 20%;
}

.iw-list-item-timestamp {
  width: 20%;
  font-weight: 400;
}

.iw-list-item-timestamp-ago {
  font-size: 10px;
  color: rgba(28, 28, 28, 1);
}

.iw-list-item-timestamp-full {
  font-size: 9px;
  color: rgba(154, 154, 154, 1);
}

.iw-list-item-related {
  font-size: 10px;
  width: 20%;
}

.iw-list-item-counter {
  font-size: 10px;
}

.page-list-item:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  html, body {
    background-color: #444;
  }
}
